





.profileImage{
   
    transition: 500ms linear;
    
}


.profileImage:hover{
    filter: contrast(10%);
    filter: grayscale(0%)!important;
    transform: scale(1.1);
}



@media screen and (max-width:950px) {
    .aboutContainer{
        grid-template-columns: 1fr!important;
    }
    .profileImage{
        width: 100!important;
    }
    .imageContainer{
        justify-content: center!important;
    }
    .aboutText{
        text-align: center!important;
    }
    .aboutHeading{
        font-size: 1.5rem!important;
        top: -18px!important;
        left: 35%!important;
        padding: 1%!important;
    }
}